<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category.name %>
  </p>

  <% if product.photos.attached? %>
    <% product.photos.each do |image| %>
      <%= image_tag image, width: 250 %>
    <% end %>
  <% end %>

  <p>
    <strong>Document:</strong>
    <%= product.documents %>
    <%= link_to 'Download', rails_blob_path(product.documents, disposition: "attachment")%>
  </p>
</div>
