<p style="color: green"><%= notice %></p>

<%= render partial: 'category', collection: @categories %>

<% if user_signed_in? %>
  <% if current_user.rol == "admin" %>
    <%= link_to 'Categories', categories_path %>
  <% else %>
  <% end %>
<% end %>

<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <article id="article">
      <h2><%= product.name %></h2>
      <% if product.photo.attached? %>
        <%= image_tag product.photo, width: 150 %>
      <% end %>

      <footer class="footer">
        <span>Category: <%= product.category.name %></span>
        <span>Brand: <%= product.brand.name %></span>
        <%= link_to "Show this product", product %>
      </footer>
    </article>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
